export DB_DSN="postgres://buzzchat:buzzchat@localhost/buzzchat?sslmode=disable"
export REDIS_ADDR="redis://localhost:6379"
export VITE_API_URL="http://localhost:4000"
export SMTP_USERNAME=
export SMTP_PASSWORD=
export SMTP_HOST=smtp.gmail.com
export SMTP_PORT=587
export SMTP_SENDER='BuzzChat <no-reply@gmail.com>'
export ENCRYPTION_KEY=abcdefghijklmnopqrstuvwxyzabcdef
export CLIENTS=
